
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #6600ff;
  height: 17px;
  width: 17px;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid #ffffff;
  transition: box-shadow 0.3s ease;
}

input[type='range']::-webkit-slider-thumb:hover {
  background-color: #2dd4bf;
  transition: all 0.3s ease-in-out;
}

input[type='range']::-webkit-slider-thumb:hover {
  box-shadow: 0 0 10px #ffffff;
}


